---
layout: splash
classes: wide
author_profile: true
published: true
---

<html>
{% include section-one.html %}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("/assets/images/collage.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>

<body>
<div class="bg"></div>
{% include section-two.html %}
</body>

</html>
