---
layout: splash
classes: wide
author_profile: true
published: true
---

<html>
{% include section-one.html %}

<style>
html { height: 100% }
body
{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    background-image: url(/assets/images/collage-blur.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    
}
</style>

<body class="landing">
{% include section-two.html %}
</body>

</html>
