---
layout: splash
header:
  image: /assets/images/Test1.jpg

quote:
- excerpt: '*"EITHER MATHEMATICS IS TOO BIG FOR THE HUMAN MIND OR THE HUMAN MIND IS MORE THAN A MACHINE."* - KURT GODEL'

maths:
- excerpt: '**RELEVANT MATHEMATICS**'

feature_row:
  - image_path: /assets/images/math.jpg
    excerpt: "Testing"
    url: https://machinelearningmastery.com/linear-algebra-machine-learning/
    btn_class: .btn

author_profile: true
published: true
---
{% include feature_row id="quote" type="center" %}
{% include feature_row id="maths" type="center" %}
{% include feature_row type="right" %}
