<html>
  <style>
    .social-icons {
            overflow-x: hidden;
            }

           .social-icons a {
                padding-right: 10px;
                font-weight: bold;
                white-space: nowrap;
                text-transform: uppercase;
              }
                
                
           .social-icons a:hover {
                  color: $masthead-link-color-hover;
                  }
  </style>
  <body>
    <div class="page__footer-follow">
      <p style="font-size:25px"> MACHINE LEARNING & MEDITATIONS </p>
      <p> <span style="font-size:25px;position:absolute: right:0px;" class="social-icons"> 
            <a href="mailto:salonidash77@gmail.com"><i class="fas fa-fw fa-envelope-square" aria-hidden="true" style="color:white"></i> <font color="white"></font></a> 
            {% if site.author.github %}
             <a href="https://github.com/{{ site.author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true" style="color:white"></i> <font color="white"></font></a> 
            {% endif %}
             <a href="https://www.linkedin.com/in/saloni-dash-363431104/"><i class="fab fa-fw fa-linkedin" aria-hidden="true" style="color:white"></i> <font color="white"></font></a> 
            {% if site.facebook.username %}
             <a href="https://www.facebook.com/{{ site.facebook.username }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true" style="color:white"></i> <font color="white"></font> </a> 
            {% endif %}
            <a href="https://www.instagram.com/starz.7/"><i class="fab fa-fw fa-instagram" aria-hidden="true" style="color:white"></i> <font color="white"></font></a>
            <a href="https://in.pinterest.com/saloni_731/"><i class="fab fa-fw fa-pinterest" aria-hidden="true" style="color:white"></i> <font color="white"></font></a> 
            <a href="https://twitter.com/saloni_dash"><i class="fab fa-fw fa-twitter" aria-hidden="true" style="color:white"></i> <font color="white"></font></a>
           <!-- <a href="https://www.quora.com/profile/Saloni-Dash-1"><i class="fab fa-fw fa-quora" aria-hidden="true" style="color:white"></i> <font color="white">QUORA</font></a>&emsp; -->
             {% if site.search == true %}
                <button class="search__toggle" type="button">
                  <svg class="icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
                    <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
                  </svg>
                </button>
                {% endif %}
        </span> </p>
    </div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
