<html>
<head>
    <style>
        #banner {
            height: 1020px;
            background-image: url(/assets/images/collage.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        
       .text-block {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: black;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
    </head>
<body>
    <div id="banner"> 
        <div class="text-block">
            <p>LEARN MORE</p>
            <a href="#two" style="font-size:30px;color:white" class="more scrolly">&darr; </a> 
        </div>
        
    </div>
</body>
</html>
